@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    background-color: #CEE4D9;
    overflow: hidden;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.4rem;
    color: #514E4D;
}

header {
  width: 100%;
  height: 5vh;
  position: fixed;
}

nav {
  width: 100%;
  height: 10vh;
}

.logo{
  width: 18vh;
  margin: 5px 0 0 15px;
}

.menu {
  border-radius: 50%;
  width: 6vh;
  height: 6vh;

  top: 1.5vh;
  right: 2.5vh;
  position: fixed;
  cursor:pointer;

  transition: box-shadow .8s ease-in-out;
}

a {
  text-decoration: none;
}

.menu:hover {
  box-shadow: 0 0 0 5px #fff, 0 0 0 5px #fff;
}

.hamburguer {
  width: 3vh;
  height: 2px;
  top: 2.9vh;
  left: 1.5vh;

  display: block;
  position: relative;
  background: #000;
  transition: 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
  content: '';
  width: 100%;
  height: 100%;

  display: block;
  background: #000;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.hamburguer:before {
  top: -10px;
}

.hamburguer:after {
  bottom: -10px;
}

.nav-lista {
  width: 100%;
  height: 10vh;
  top: -10vh;
  position: absolute;
  background-color: #6E9692;
  transition: 1.3s ease-in-out;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#menu-hamburguer{
  display: none;
}

input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}

input:checked ~ label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}

input:checked ~ label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}

input:checked ~ label .menu {
  box-shadow: 0 0 0 20px #fff, 0 0 0 20px #fff;
  z-index: 1;
}

input:checked ~ .nav-lista {
  top: 0;
}

input:checked ~ ul {
  opacity: 1;
}

.nav-lista ul { 
  list-style: none;
  text-decoration: none;
}

.informacoes {
  display: inline-block;
  padding-right: 50px;
  margin-left: 50px;
  font-size: 1.5vmax;
  border-bottom: 1px solid transparent;
  color: #514E4D;
}

.informacoes:hover {
  color: #ffffff;
  border-bottom: #000 1px solid;
}


.box_login{
  background-color: #88A9A7;
  height: 49vh;
  width: 23vw;
  align-items: center;
  text-align: center;
  display: grid;
  position: fixed;
  left: 38%;
  border-radius: 5%;
  top: 25%;
}   

#btn_login{
  width: 7vw;
  margin-left: 34%;
  background-color: #F28F69;
  color: #BB4E2C;
  border: none;
  margin-bottom: 10%;
}

.inp_login{
    margin-bottom: 3%;
}

.inp_login::placeholder{
  font-family: 'Bebas Neue', cursive;
}

#img_login{
  height: 23vh;
  margin-left: 8%;
}

.inp_login{
  width: 73%;
  height: 3vh;
  padding-left: 1vw;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0px ;
  border-radius: 3px;
}

footer {
    width: 100%;
    height: 15vh;
  
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: #88A9A7;
  }
  
  .box-footer{
    width: 25%;
    height: 100%;
    margin-left: 1vh;
    color: #514E4D;
  }
  
  footer span {
    font-size: 2.7vh;
  }
  
  #contato-empresarial {
    font-size: 1vw;
    margin: 0.9vh;
    text-align: center;
  }
  
  #email-contato {
    font-size: 2vw;
    margin: 0.9vh;
    width: 70vh;
  }
  
  #email-contato .parte-texto {
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 1.3vw;
    width: 50%;
    height: 100%;
    float: left;
  
  }
  
  #email-contato .parte-inputs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
    width: 50%;
    height: 100%;
    float: left;
  }
  
  #email-contato input {
    width: 80%;
    height: 20%;
    padding-left: 1vw;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    border-radius: 3px;
  }
   
  #email-contato input::placeholder {
    font-size: 95%;
    color: rgba(0, 0, 0, 0.692);
  }
  
  #parcerias {
    display: flex;
    align-items: center;
  }
  
  #parcerias #imagem-parcerias{
    width: 20vh;
  }
  
  hr {
    height: 80%;
    margin-top: 1vh;
    background-color: white;
  }