@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  overflow: hidden;
}

@media only screen and (max-device-width: 1920px) {
  .menu { width:100%; }
  }
  

.page {
  width: 100%;
  height: 100%;

  min-width: 520px;
  min-height: auto;
  position: fixed;
  background-color: #CEE4D9;
}

header {
  width: 100%;
  height: 5vh;
  position: fixed;
}

nav {
  width: 100%;
  height: 10vh;
}

.logo{
  width: 18vh;
  margin: 5px 0 0 15px;
}

.menu {
  border-radius: 50%;
  width: 6vh;
  height: 6vh;

  top: 1.5vh;
  right: 2.5vh;
  position: fixed;
  cursor:pointer;

  transition: box-shadow .8s ease-in-out;
}
a {
  text-decoration: none;
}

.menu:hover {
  box-shadow: 0 0 0 5px #fff, 0 0 0 5px #fff;
}

.hamburguer {
  width: 3vh;
  height: 2px;
  top: 2.9vh;
  left: 1.5vh;

  display: block;
  position: relative;
  background: #000;
  transition: 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
  content: '';
  width: 100%;
  height: 100%;

  display: block;
  background: #000;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.hamburguer:before {
  top: -10px;
}

.hamburguer:after {
  bottom: -10px;
}

.nav-lista {
  width: 100%;
  height: 10vh;
  top: -10vh;
  position: absolute;

  background-color: #6E9692;
  transition: 1.3s ease-in-out;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#menu-hamburguer{
  display: none;
}

input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}

input:checked ~ label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}

input:checked ~ label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}

input:checked ~ label .menu {
  box-shadow: 0 0 0 20px #fff, 0 0 0 20px #fff;
  z-index: 1;
}

input:checked ~ .nav-lista {
  top: 0;
}

input:checked ~ ul {
  opacity: 1;
}

.nav-lista ul { 
  list-style: none;
  text-decoration: none;
}

.informacoes {
  display: inline-block;
  padding-right: 50px;
  margin-left: 50px;
  font-size: 1.5vmax;
  border-bottom: 1px solid transparent;
  color: #514E4D;
}

.informacoes:hover {
  color: #ffffff;
  border-bottom: #000 1px solid;
}




footer {
  width: 100%;
  height: 15vh;

  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: #88A9A7;
}

.box-footer{
  width: 25%;
  height: 100%;
  margin-left: 1vh;
  color: #514E4D;
}

footer span {
  font-size: 2.7vh;
}

#contato-empresarial {
  font-size: 1vw;
  margin: 0.9vh;
  text-align: center;
}

#email-contato {
  font-size: 2vw;
  margin: 0.9vh;
  width: 70vh;
}

#email-contato .parte-texto {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.3vw;
  width: 50%;
  height: 100%;
  float: left;

}

#email-contato .parte-inputs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  
  width: 50%;
  height: 100%;
  float: left;
}

#email-contato input {
  width: 80%;
  height: 20%;
  padding-left: 1vw;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  border-radius: 3px;
}

#email-contato input::placeholder {
  font-size: 95%;
  color: rgba(0, 0, 0, 0.692);
}

#parcerias {
  display: flex;
  align-items: center;
}

#parcerias #imagem-parcerias{
  width: 20vh;
}

hr {
  height: 80%;
  margin-top: 1vh;
  background-color: white;
}

/* PAGINA 1 */

.logo-centro {
  width: 50vh;

  top: 50%;
  left: 50%;
  position: absolute;
  transform:translate(-50%,-50%);
  transition: 2s;
  animation: logo-centro 1s cubic-bezier(0.250,0.460, 0.450,0.940) both;
}

.fogo-centro {
  width: 4.5vh;

  top: 41%;
  right: 41%;
  position: absolute;

  transform:translate(-50%,-50%);
  animation: fogo-centro 10s cubic-bezier(0.250,0.460, 0.450,0.940) alternate;
  transform: rotate(100deg);
  opacity: 0.7;
}

@keyframes logo-centro {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(-50%);
    opacity: 1;
  }
}

@keyframes fogo-centro {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* IDES */

.IDES img {
  width: 40px;
  height: 40px;

  position: absolute;
  bottom: -40px;
  display: block;

  animation: idesRodando 2s infinite;
  animation-direction: alternate;
}

@keyframes idesRodando{
  from {
    transform: translateY(0);
    opacity: 0;
    z-index: -1;
  }
  50% {
    z-index: -1;
    opacity: 1;
  }
  to {
    z-index: -1;
    transform: translateY(-1100px) rotate(960deg);
    opacity: 0;
  }
}
/* PAGINA 2 */

.fundoAboutUS {
  width: 100vw;
  height: 100%;
  margin: auto;
  background: url(../img/equipe.png) center no-repeat;
}

.alinhando-texto{
  position: relative;
  width: 100%;
  height: 20%;  
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 3em;
  color: #B73447;
  opacity: 0;
  z-index: -1;
  animation: nosso-timeMove 0s 1.1s both;
}

.text-alinhado {
  overflow: hidden;
  position: relative;
}

.text-alinhado:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #CEE4D9;
  transform: translateX(-100%);
  animation: blocoDesaparecer 0.5s 0.6s both, aparecerLetra 0.5s 1.1s both;
}

.box-all-names {
  width: 10vw;
  height:  50vh;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.box-all-names li {
  list-style: none;
  font-size: 3vh;
  margin-bottom: 1em;
}

.box-names {
  border-right: 2px solid white;
  text-decoration: none;
  height: 33%;
  white-space: nowrap;
  overflow: hidden;
  animation: cursorPiscando 1s steps(40) infinite normal,
  escrevendo 4s steps(40) 1s normal both;
}

@keyframes escrevendo {
  from {
    width: 0;
  }
  to {
    width: 102%;
  }
}

@keyframes cursorPiscando{
  from {
    border-right-color: rgba(255, 255, 255, 0.753);     
  }
  to {
    border-right-color: transparent;
  }
}

#box-names-left{
  left: 0;
  position: absolute;
}

#box-names-right {
  position: absolute;
  right: 0;
}

@keyframes blocoDesaparecer{
  from {
    width: 0%;
  } 
  to {
    width: 100%;
  }
}

@keyframes aparecerLetra {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes nosso-timeMove {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* MODAL */
.content {
  margin: 0 auto;
  max-width: 900px;
  background-color: #eee;
  padding: 10px;

}

.btn {
  background-color: #F28F69;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  transition: background .3s;
  border-radius: 5px;
  color: #B73447;
}

.btn:hover {
  background-color: #B73447;
  color: #F28F69;
}

.btn:active {
  background-color: #B73447;
  color: #F28F69;
}

.modal {
  background-color: rgba(0, 0, 0, .8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

.modal-content {
  margin: 0 auto;
  margin-top: 14%;
  max-width: 600px;
  padding: 0;
  background-color: #88A9A7;
  box-shadow: 0 0 2px #fff;
}

.modal-header h1{
  font-weight: bold;
  text-align: center;
}

.modal-header, .modal-body, .modal-footer{
  padding: 10px;
}

.modal-header{
  background-color: #88A9A7;
}

.modal-footer{
  background-color: #88A9A7;
}

/* CARDS PAG 3- findout*/

.content-limitacao {
  margin: auto;
  width: 80%;
  height: calc(100% - 10vh);
  display: flex;
  justify-content: space-around;
  align-items: center;
} 
.box-cards {
  width: 25%;
  height: 50%;
  border-radius: 20px;
  background-color: #8FAFAD;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.452) 20px 20px 20px 20px;
}


/* virar o painel ao passar o mouse */

	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
    width: 100%;
    height: 100%;
}

/* velocidade da virada aqui */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/*escondendo painel durante a troca */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.top-card{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #B73447;
  font-size: 3vh;
}

.mid-card {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mid-card img {
  width: 60vh;
}

.mid-card-back {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mid-card-back ul {
  margin-left: 1vh;
}

.mid-card-back li {
  margin-bottom: 2vh;
  font-size: 1.8vh;
}

.bottom-card {
  display: flex;
  justify-content: flex-end;
  margin-right: 1vh;
}

/* painel frontal colocado acima das costas*/
.front {
	z-index: 2;
	transform: rotateY(0deg);
}

/* painel trazeiro iniciando oculto */
.back {
	transform: rotateY(180deg);
}

/* PAGINA 4 our-solution */

.container {
  width: 80%;
  height: 60%;
  margin: auto;
}

.container-separation {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.box-our-solution {
  width: 28%;
  height: 80%;
  border: 1px solid grey;
  display: flex;
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.555);
}

.card img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.card-back {
  font-size: 2.5;
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* Login */

.box_login{
  background-color: #88A9A7;
  height: 49vh;
  width: 23vw;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: column;
  display: flex;
  position: absolute;
  left: 38%;
  border-radius: 5%;
  top: 25%;
}   

#btn_login{
  width: 7vw;
  height: 4vh;
  border-radius: 20px;
  background-color: #F28F69;
  color: #BB4E2C;
  border: none;
  margin-bottom: 5%;
}

.inp_login::placeholder{
  font-family: 'Bebas Neue', cursive;
}

#img_login{
  height: 23vh;
  margin-left: 8%;
}

.inp_login{
  width: 73%;
  height: 3vh;
  padding-left: 1vw;
  margin-bottom: 3%;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0px ;
  border-radius: 3px;
}

.box_login span{
  font-size: 2vh;
  text-decoration: none;
}