*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page1 {
    width: 100%;
    min-height: 669px;
    max-height: 720px;
    background: url(/SiteInstitucional/img/1.png);
}

header {
    width: 100%;
    height: 50px;
    position: fixed;
}
nav {
    width: 100%;
    height: 90px;
    background-color: #A842C5;
}

.logo{
    width: 80px;
    margin: 5px 0 0 15px;
}

.menu {
  background: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: fixed;
  top: 15px;
  right: 25px;
}

.hamburguer {
  position: relative;
  display: block;
  background: #000;
  width: 30px;
  height: 2px;
  top: 29px;
  left: 15px;
  transition: 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
  background: #000;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.hamburguer:before {
  top: -10px;
}

.hamburguer:after {
  bottom: -10px;
}

input {
  display: none;
}

input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}

input:checked ~ label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}

input:checked ~ label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}