@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  overflow: hidden;
}

.page1 {
  width: 100%;
  height: 100%;

  position: fixed;
  background-color: #CEE4D9;
}

.container {
  width: 80%;
  height: 100%;
  
  margin: auto;
}

header {
  width: 100%;
  height: 5vh;
  position: fixed;
}

nav {
  width: 100%;
  height: 10vh;
}

.logo{
  width: 18vh;
  margin: 5px 0 0 15px;
}

.menu {
  border-radius: 50%;
  width: 6vh;
  height: 6vh;

  top: 1.5vh;
  right: 2.5vh;
  position: fixed;
  cursor:pointer;

  transition: box-shadow .8s ease-in-out;
}

.menu:hover {
  box-shadow: 0 0 0 5px #fff, 0 0 0 5px #fff;
}

.hamburguer {
  width: 3vh;
  height: 2px;
  top: 2.9vh;
  left: 1.5vh;

  display: block;
  position: relative;
  background: #000;
  transition: 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
  content: '';
  width: 100%;
  height: 100%;

  display: block;
  background: #000;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.hamburguer:before {
  top: -10px;
}

.hamburguer:after {
  bottom: -10px;
}

.nav-lista {
  width: 100%;
  height: 10vh;
  top: -10vh;
  position: absolute;

  background-color: #6E9692;
  transition: 1.3s ease-in-out;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

input {
  display: none;
}

input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}

input:checked ~ label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}

input:checked ~ label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}

input:checked ~ label .menu {
  box-shadow: 0 0 0 20px #fff, 0 0 0 20px #fff;
  z-index: 1;
}

input:checked ~ .nav-lista {
  top: 0;
}

input:checked ~ ul {
  opacity: 1;
}

.nav-lista ul { 
  list-style: none;
  text-decoration: none;
}

.nav-lista li {
  display: inline-block;
  padding-right: 50px;
  margin-left: 50px;
  font-size: 1.5vmax;
  border-bottom: 1px solid white;
}

.informacoes:hover {
  color: #A842C5;
  border-bottom: #000 1px solid;
}

.logo-centro {
  width: 50vh;

  top: 50%;
  left: 50%;
  position: absolute;
  transform:translate(-50%,-50%);
  transition: 2s;
  animation: logo-centro 1s cubic-bezier(0.250,0.460, 0.450,0.940) both;
}

.fogo-centro {
  opacity: 0.7;
  width: 4vw;
  top: 35%;
  right: 37%;
  position: absolute;
  transform:translate(-50%,-50%);
  transform: rotate(100deg);
}

@keyframes logo-centro {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(-50%);
    opacity: 1;
  }
}

footer {
  width: 100%;
  height: 15vh;

  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: #88A9A7;
}

.box-footer{
  width: 25%;
  height: 100%;
  margin-left: 1vh;
  color: #514E4D;
}

footer span {
  font-size: 3vh;
  margin-left: -3vh;
}

#contato-empresarial {
  font-size: 2vh;
  margin: 0.9vh;
}

#email-contato {

  font-size: 2vh;
  margin: 0.9vh;
  width: 70vh;
}

#email-contato .parte-texto {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.5vh;
  width: 50%;
  height: 100%;
  float: left;

}

#email-contato .parte-inputs {
  width: 50%;
  height: 100%;
  float: left;
}

#parcerias {
  display: flex;
  align-items: center;
}

#parcerias #imagem-parcerias{
  width: 20vh;
}

hr {
  height: 80%;
  margin-top: 1vh;
  background-color: white;
}


/* moedas */

.moedas img {
  width: 40px;
  height: 40px;

  position: absolute;
  bottom: -40px;
  display: block;
  animation: moedasRodando 2s infinite;
  animation-direction: alternate;
}

@keyframes moedasRodando{
  from {
    transform: translateY(0);
    opacity: 0;
    z-index: -1;
  }
  50% {
    z-index: -1;
    opacity: 1;
  }
  to {
    z-index: -1;
    transform: translateY(-1100px) rotate(960deg);
    opacity: 0;
  }
}